*.txt                   text
*.vcproj                eol=crlf
*.bat                   eol=crlf
*.jpg                   -text
*.el                    eol=lf
*.org                   eol=lf
emacs/site-lisp/*       eol=lf
